.create-agenda {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .agenda-form,
  .option-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .agenda-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .agenda-textarea {
    height: 80px;
    resize: none;
  }
  
  .add-btn {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .add-btn:hover {
    background-color: #218838;
  }
  
  .agenda-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .agenda-list {
    margin-top: 20px;
  }
  
  .agenda-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .agenda-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .agenda-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .option-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .remove-btn:hover {
    background-color: #c82333;
  }
  