/* CssFolder/votedisplay.css */

.table-title {
  color: #007bff; /* Blue color for titles */
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Bold text */
}

.table-container {
  margin-top: 20px;
}

.vote-table {
  margin-top: 20px;
  background-color: #ffffff; /* White background for tables */
  border: 1px solid #dee2e6; /* Light grey border */
  border-radius: 0.375rem; /* Rounded corners */
}

.vote-table thead {
  background-color: #f8f9fa; /* Light grey background for header */
}

.vote-table th, .vote-table td {
  text-align: center; /* Center align text in table cells */
}

.vote-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row color */
}

.alert-custom {
  margin-top: 20px;
}
